---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
	
	 <div id="page" class="full-page">
	
		<main id="content" class="site-main">
		   <!-- Home slider html start -->
		   <section class="home-slider-section">
			  <div class="home-slider">
				 <div class="home-banner-items">
					<div class="banner-inner-wrap" style="background-image: url(/img/245.jpg);"></div>
					   <div class="banner-content-wrap">
						  <div class="container">
							 <div class="banner-content text-center">
								<h2 class="banner-title uppercase">
									Build It Big for the Billions
									Programme</h2>
								<p class=" text-xl font-bold">
									ORGANIZING ENTITY: KERALA STARTUP MISSION (KSUM)								</p>
								<a href="https://forms.zohopublic.com/keralastartupmission/form/BUILDITBIG/formperma/p9BNoyc_BaK_gw6jF4ecvAE9q3wU39VfKalfSZXyoyQ" target="_blank" class="button-primary">APPLY NOW</a>
							 </div>
						  </div>
					   </div>
					<div class="overlay"></div>
				 </div>
				
			  </div>
		   </section>
		   <!-- slider html start -->
		   <!-- Home search field html start -->
		   <div class="trip-search-section shape-search-section" id="About">
			  <div class="slider-shape"></div>
			  <div class="container">
				 <div class="trip-search-inner white-bg d-flex">
					<div class=" text-justify text-lg md:text-xl">
						The <span class=" font-bold">“Build It Big for the Billions”</span> programme, launched by Kerala Startup Mission (KSUM), is aimed at supporting the <span class=" font-bold">‘Make in India’</span> initiative by promoting local manufacturing and reducing import dependencies. This program focuses on mobilizing entrepreneurs across India to develop innovative solutions that can transform India’s manufacturing sector. With a streamlined process, the initiative will be implemented within one month, featuring online applications and scrutiny, culminating in an award ceremony led by the <span class=" font-bold">Hon. Chief Minister of Kerala.</span>
					</div>
				 </div>
			  </div>
		   </div>


		   <section class="package-section bg-light-grey pt-24" id="Objectives">
			<div class="container">
			   <div class="section-heading text-center">
				  <div class="row">
					 <div class="col-lg-8 offset-lg-2">
						<h4 class=" text-3xl font-extrabold">OBJECTIVES</h4>
					 </div>
				  </div>
			   </div>
			   <div class="package-inner package-inner-list">
				  <div class="row">
					 <div class="col-lg-6">
						<div class="package-wrap package-wrap-list">
						   <figure class="feature-image">
								<img src="img/16485 1.png" alt="">
						   </figure>
						   <div class="package-content">
							<h3 class=" text-xl pb-4 font-bold">
								EMPOWER ENTREPRENEURS
							</h3>
							<p class=" text-xl">
								Provide a platform for Indian entrepreneurs to present innovative business ideas that focus on import substitution.							</p>
							 
						   </div>
						</div>
					 </div>

					 <div class="col-lg-6">
						<div class="package-wrap package-wrap-list">
						   <figure class="feature-image">
								<img src="img/33.png" alt="">
						   </figure>
						   <div class="package-content">
							<h3 class=" text-xl pb-4 font-bold">
								PROMOTE LOCAL MANUFACTURING
							</h3>
							<p class=" text-xl">
								Encourage scalable, local manufacturing solutions that can contribute to reducing import reliance.							 
						   </div>
						</div>
					 </div>

					 <div class="col-lg-6">
						<div class="package-wrap package-wrap-list">
						   <figure class="feature-image">
								<img src="img/22.png" alt="">
						   </figure>
						   <div class="package-content">
							<h3 class=" text-xl pb-4 font-bold">
								SUPPORT THE ‘MAKE IN INDIA’ INITIATIVE
							</h3>
							<p class=" text-xl">
								Align the selected business models with national goals of economic self-sufficiency.							 
						   </div>
						</div>
					 </div>

					 <div class="col-lg-6">
						<div class="package-wrap package-wrap-list">
						   <figure class="feature-image">
								<img src="img/44.png" alt="">
						   </figure>
						   <div class="package-content">
							<h3 class=" text-xl pb-4 font-bold">
								SHOWCASE KERALA’S INNOVATION
							</h3>
							<p class=" text-xl">
								Position leading supporters of national growth through Kerala’s entrepreneurship and innovation.							 
						   </div>
						</div>
					 </div>
					
				  </div>
				 
			   </div>
			</div>
		 </section>

		 <section class="about-section about-page-section" id="Impact">
			<div class="about-service-wrap">
			   <div class="container">
				  <div class="section-heading">
					 <div class="row align-items-end">
						<div class="col-lg-6">
						   <h5 class="dash-style">IMPACT AND SIGNIFICANCE</h5>
						   <h2>Build It Big for the Billions programme will
						</h2>
						</div>
						<div class="col-lg-6">
							<p class=" text-justify text-lg">The “Build It Big for the Billions” programme will elevate Indian entrepreneurs by providing them with a platform to showcase scalable solutions for local manufacturing. The initiative will position KSUM and Kerala as pivotal enablers in achieving the ‘Make in India’ vision and in building a robust entrepreneurial ecosystem.							</p>
						</div>
					 </div>
				  </div>
				  <div class="about-service-container">
					 <div class="row">
						<div class="col-lg-4">
						   <div class="about-service flex items-center justify-center">
							  <div class="about-service-icon">
								 <img src="assets/images/icon15.png" alt="">
							  </div>
							  <div class="about-service-content">
								 <p class=" uppercase font-lg  font-semibold items-center justify-center">
									Drive the creation of innovative local manufacturing solutions.
								 </p>
							  </div>
						   </div>
						</div>
						
						<div class="col-lg-4">
						   <div class="about-service flex items-center justify-center">
							  <div class="about-service-icon">
								 <img src="assets/images/icon17.png" alt="">
							  </div>
							  <div class="about-service-content">
								 <p class=" uppercase font-lg  font-semibold items-center justify-center">
									Directly support India’s self-reliance goals by focusing on import substitution.
								 </p>
							  </div>
						   </div>
						</div>

						<div class="col-lg-4">
							<div class="about-service flex items-center justify-center">
							   <div class="about-service-icon">
								  <img src="assets/images/icon16.png" alt="">
							   </div>
							   <div class="about-service-content">
								  <p class=" uppercase font-lg  font-semibold items-center justify-center">
									Establish Kerala as a key player in fostering national innovation and entrepreneurship.
								  </p>
							   </div>
							</div>
						 </div>

					 </div>
				  </div>
				
			   </div>
			</div>
		
		 </section>

		  
		</main>
		<footer id="colophon" class="site-footer footer-primary mt-24">
		  
		   <div class="buttom-footer">
			  <div class="container">
				 <div class=" flex justify-between items-center  ">
					<div class="col-md-5">
					   <div class="footer-menu">
						<div class="footer-logo">
							<a href="/"><img src="/img/logo-white.svg" class=" w-28" alt=""></a>
						 </div>
					   </div>
					</div>
					
					<div class="col-md-5">
					   <div class="copy-right text-right">Copyright © 2024 KSUM. All rights reserveds</div>
					</div>
				 </div>
			  </div>
		   </div>
		</footer>
		<a id="backTotop" href="#" class="to-top-icon">
		   <i class="fas fa-chevron-up"></i>
		</a>
		<!-- custom search field html -->
		   <div class="header-search-form">
			  <div class="container">
				 <div class="header-search-container">
					<form class="search-form" role="search" method="get" >
					   <input type="text" name="s" placeholder="Enter your text...">
					</form>
					<a href="#" class="search-close">
					   <i class="fas fa-times"></i>
					</a>
				 </div>
			  </div>
		   </div>
		<!-- header html end -->
	 </div>
</Layout>
