	<header id="masthead" class="site-header header-primary">
		   <!-- header html start -->
		   <div class="top-header">
			  <div class="container">
				 <div class="row">
					<div class="col-lg-8 d-none d-lg-block">
					   <div class="header-contact-info">
						  <ul>
							 <li>
								<a href="tel:08047180470"><i class="fas fa-phone-alt"></i>08047180470</a>
							 </li>
							 <li>
								<a href="mailto:info@startupmission.in"><i class="fas fa-envelope"></i>
                  info@startupmission.in</a>
							 </li>
							 <!-- <li>
								<i class="fas fa-map-marker-alt"></i> 3146 Koontz Lane, California
							 </li> -->
						  </ul>
					   </div>
					</div>
					<div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
					   <div class="header-social social-links">
						  <ul>
							 <li><a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
							 <li><a href="https://x.com/startup_mission" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
							 <li><a href="https://www.instagram.com/keralastartupmission/?hl=en" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
							 <li><a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
						  </ul>
					   </div>
					   <div class="header-search-icon">
						  <!-- <button class="search-icon">
							 <i class="fas fa-search"></i>
						  </button> -->
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="bottom-header">
			  <div class="container d-flex justify-content-between align-items-center">
				 <div class="site-identity">
					<h1 class="site-title">
					   <a href="index.html">
						  <img class="white-logo w-20" src="/img/logo-white.svg"  alt="logo">
						  <img class="black-logo w-20" src="/img/logo.svg" alt="logo">
					   </a>
					</h1>
				 </div>
				 <div class="main-navigation d-none d-lg-block">
					<nav id="navigation" class="navigation">
					   <ul>
						  
              <li class="">
							 <a href="/">Home</a>
							</li>

              <li class="">
                <a href="#About">About</a>
               </li>

               <li class="">
                <a href="#Objectives">Objectives</a>
               </li>

               <li class="">
                <a href="#Impact">Impact</a>
               </li>

					   </ul>
					</nav>
				 </div>
				 <div class="header-btn">
					<a href="https://forms.zohopublic.com/keralastartupmission/form/BUILDITBIG/formperma/p9BNoyc_BaK_gw6jF4ecvAE9q3wU39VfKalfSZXyoyQ" target="_blank" class="button-primary">APPLY NOW</a>
				 </div>
			  </div>
		   </div>
		   <div class="mobile-menu-container"></div>
		</header>